body {
    background-color: rgb(17, 21, 24);
    color: white;
}

.mainHeader {
    font-weight: bold;
    text-align: center;
    background-color: #264454;
    color: white;
    height: 65px;
}

.search {
    font-weight: bold;
    font-size: 35px;
    margin-bottom: 15px;
    color: white;
    flex-wrap: wrap;
    width: 100%;
}

.weatherStats {
    display: flex;
    width: 75%;
}

.cityStats {
    width: 100%;
    float: left;
    height: 250px;
    margin-right: 25px;
    border: black 5px solid;
}

.cityName {
    font-size: 20px;
    font-weight: bold;
    margin: 10px;
}

.temp, .wind, .humidity, .uvindex {
    font-size: 18px;
    margin: 15px 0px 5px 10px;
}

.maintemp {
    font-size: 18px;
    margin: 15px 0px 5px 10px;
}

.citySearch {
   
    height: auto;
    width: 20%;
    float: left;
    border-bottom: 2px black solid;
    margin-left: 20px;
    margin-right: 25px;
    display: flex;
}

.searchButton {
    height: 40px;
    width: 100%;
    font-size: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    border-radius: .25em;
}

#cityInput {
    width: 100%;
    font-size: 20px;
    border-radius: .25em;
}

.savedCities {
    position: absolute;
    width: 20%;
    height: 100%;
    left: 20px;
    top: 260px;
    display: table-row;
    list-style: none;
    font-size: 25px;
}

#savedCityList {
    cursor: pointer;
    left: 5px;
    width: 100%;
}

.forecastCards {
    display: flex;
}

.forecast {
    position: absolute;
    right: 70px;
    top: 330px;
}

.card {
    border: 2px solid black;
    height: 250px;
    width: 250px;
    margin: 15px;
    background-color: #264454;
    color: white;
}

.cardDate {
    font-size: 25px;
    font-weight: bold;
}

.cardImage {
    width: 35px;
    aspect-ratio: 1;
}

.cardTemp, .cardWind, .cardHumidity {
    margin: 5px;
    font-size: 18px;
}

#forecastHead {
    margin-left: 15px;
}